.header-title {
  background-color: aquamarine;
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
}

.header-link-container {
  height: 3em;
  background-color: palegoldenrod;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-link {
  font-size: 1em;
  margin: 0em 1em;
}
